@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin-bottom: 1000px;
}

.notif-bar {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color:rgb(168, 143, 217);
    font-size: 0.9em;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2em;
    font-size: 20px;
}

.nav-bar .left-nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav-bar .left-nav button {
    border: none;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
}

.nav-bar .left-nav .build-a-bundle {
    margin-left: 30px;
}

.nav-bar .left-nav a:visited{
    color: black;
}

.logo {
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;

}

.nav-bar .right-nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav-bar .right-nav img {
    height: 25px;
    width: 25px;
}

.nav-bar .right-nav li {
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 10px;
}

.nav-bar .right-nav img {
    display: inline-block;
}

.nav-bar .right-nav li a:visited{
    color: black;
}

.hero {
    display: flex;
}

.hero-container .hero .left-section {
    background-color: rgb(112,228,236);
    height: 75vh;
    width: 50vw;
}

.hero-container .hero .section-images {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0px 20px;
}

.hero-container .hero .section-images img {
    width: 5rem;
    height: 8rem;
}

.hero-container .hero .right-section {
}

.hero-container .hero .right-section img {
    height: 75vh;
    width: ;
}

@media only screen and (max-width: 620px) {
    .nav-bar-container .nav-bar .right-nav {
        display: none;
    }

    .nav-bar-container .nav-bar .left-nav {
        display: none;
    }

    .logo {
        justify-content: flex-start;
        margin-left: 50px;
    }

    
}
